@media (max-width: 480px) {
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .mushkit-buttons {
    display: flex;
    margin-bottom: 20px;
  }

  .add-mushkit{
    color: white;
    border: none;
    font-size: 13px;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }

  .add-mushkit {
    background-color: #2196F3; 
    margin-left: 35px;
  }

  .remove-mushkit {
    background-color: #f44336;
    margin-left: 10px;
  }

  .edit-button,
  .submit-button,
  .cancel-button {
    color: white;
    border: none;
    font-size: 13px;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }

  .edit-button {
    background-color: #2196F3;
    margin-right: 15px; 
  }

  .submit-button {
    background-color: #4CAF50;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .cancel-button {
    background-color: #f44336;
    margin-right: 15px;
  }

  /*When disabled*/
  .add-mushkit:disabled,
  .remove-mushkit:disabled,
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

@media (max-width: 320px) {
  .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    flex-wrap: nowrap; /* prevent wrapping */
  }

  .mushkit-buttons,
  .action-buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .edit-button {
    background-color: #2196F3;
    width: 85vw;  
    text-align: center; 
    margin-right: 23px;
  }

  .edit-button,
  .add-mushkit,
  .submit-button,
  .cancel-button {
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    padding: 8px 6px;
    flex: 1 1 0;
    min-width: 0;
  }

  .add-mushkit {
    background-color: #2196F3;
  }

  .submit-button {
    background-color: #4CAF50;
  }

  .cancel-button {
    background-color: #f44336;
    margin-left: -9px;
    margin-right: 30px;
    max-height: 43px;
  }

  /* When disabled */
  .add-mushkit:disabled,
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
