.mushkit-section {
	max-width: 1300px;
	margin: auto;
    margin-top: 20px;
    margin-left: 35px;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	align-items: center;
	text-align: center;
}

  .mushkit-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    padding: 16px;
    max-width: 1200px;
    margin: auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group.span-2-3 {
    grid-column: 2 / span 2;
  }
  
  .form-group.span-4-5 {
    grid-column: 4 / span 2;
  }  