@media (max-width: 480px) {
  .mushkit-section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    width: 90vw;
    margin-top: 15px;
  }

  .section-mushtitle.span-5,
  .section-mushtitle.span-4 {
    grid-column: span 2;
  }

  .mushkit-form-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 16px;
    width: 92.5%;
    max-width: none;
    margin: 0 auto;
  }
  
  .mushkit-form-edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 16px;
    width: 92.5%;
    max-width: none;
    margin: 0 auto;
  }  

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }  
  
  .section-mushtitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -5px;
  }

  .remove-icon {
    color: #d35c58; 
    cursor: pointer;
    transition: color 0.2s ease;
    display: flex;
    align-items: flex-end;
    margin-bottom: 3px;
  }
  
  .remove-icon:hover {
    color: #cd2620;
  }
  
  .remove-icon-disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
}