@media (max-width: 480px) {
    .user-section {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        text-align: center;
        width: 90vw;
        margin-top: 45px;
    }

    .user-form {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 24px;
        padding: 16px;
        max-width: 1200px;
        margin: auto;
    }
}