  .water-status span,
  .light-status span {
    display: block;
    text-align: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
  }

  .water-status span:hover,
  .light-status span:hover {
    background-color: #d0d0d0;
  }

/* FOR WATER LEVEL ONLY */
  .water-level {
	display: flex;
	flex-direction: column;
	align-items: center;
  }  
  .water-level h3 {
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: bold;
  }  
  .water-status {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	font-weight: bold;
	gap: 10px;
  }
  .water-status span.active-high {
	background-color: #4CAF50;
	color: white;
  } 
  .water-status span.active-medium {
	background-color: #FF9800; 
	color: white;
  }  
  .water-status span.active-low {
	background-color: #F44336;
	color: white;
  }

/* FOR GROWING LIGHT ONLY */
  .light {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
  }
  .light h3 {
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: bold;
  }  
  .light-status {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	font-weight: bold;
	gap: 10px;
  }
  .light-status span.active-on {
	background-color: #4CAF50;
	color: white;
  }
  .light-status span.active-off {
	background-color: #F44336;
	color: white;
  }