.dashboard-container {
	margin-left: 100px;
  }
  
  .gauge-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 0px; 
	max-width: 1300px;
	margin: auto;
	margin-bottom: 30px; 
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	align-items: center;
	text-align: center;
  }

  .section-title {
	grid-column: span 4;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	background-color: transparent; 
	border: none;                 
	padding: 0;
  }
  
  .gauge-temp,
  .gauge-humid {
	display: flex;
	max-height: 200px;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	padding: 0;
	margin-bottom: 0;
  }
  
  .gauge-label {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: -80px;
  }

  .status-cell {
	grid-column: 3; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
  }

  .time-cell {
	grid-column: 4; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
  }