@media (max-width: 480px) {
	.dashboard-container {
	  margin-left: 0;
	  padding-top: 63px; 
	  min-height: 90vh;
	}
  
	.dashboard-header h1 {
		top: 0;
		left: 0;
		padding: 10px 10px;
		padding-top: 6px;
		font-size: 1.3rem;
		border-bottom: 1px solid #ccc;
		text-align: flex-start;
		margin-top: 53px;
	}
  
	.dashboard-header.expanded h1,
	.dashboard-header.collapsed h1 {
	  left: 0;
	}
  
	.gauge-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		width: 90vw;
		height: auto;
		padding: 16px;
		border: 2px solid #ccc;
		border-radius: 10px;
		background-color: #f9f9f9;
		align-items: center;
		text-align: center;
		margin: 50px auto 20px auto;	/*top right bottom left*/
	}

	.gauge-section + .gauge-section {
		margin-top: 5px; 
	  }
  
	.section-dashtitle {
	  grid-column: span 2;
	  font-size: 1.4rem;
	  font-weight: bold;
	  text-align: left;
	  padding-bottom: 10px;
	}
  
	.gauge-temp,
	.gauge-humid {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  margin-top: -60px;
	  transform: scale(0.75); 
	  transform-origin: center;
	  margin-left: 0;
	  align-self: center;	  
	}

	.gauge-humid {
		margin-left: -20px;
	}

	.gauge-label {
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		margin: -190px auto auto auto; /*top right bottom left*/
	}
	
	.humid-label {
		margin-left: -15px;
	}	

	.status-cell,
	.time-cell {
		grid-column: span 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		margin: -120px auto -10px auto; /*top right bottom left*/
		transform: scale(0.9);
		transform-origin: center;
	}
  
	.time-cell {
		margin: -98px auto auto auto; 	/*top right bottom left*/
	}

	.time-text {
	  color: #444;
	}
  
	.time-text p {
	  margin: 2px 0;
	}
  }
  