@media (max-width: 480px) {
	.history-container {
		margin-left: 0;
		padding-top: 63px; 
		min-height: 90vh;
	}
  
	.history-header h1 {
		top: 0;
		left: 0;
		padding: 10px 10px;
		padding-top: 6px;
		font-size: 1.3rem;
		border-bottom: 1px solid #ccc;
		text-align: flex-start;
		margin-top: 53px;
	}
  
	.history-header.expanded h1,
	.history-header.collapsed h1 {
	  left: 0;
	}
  
	.data-container {
	  margin: 45px auto auto -22px;		/* top right bottom left */
	}
  
	.mushkit-section {
	  display: flex;
	  flex-direction: column; 
	  gap: 20px;
	  background-color: #f5f5f5;
	  border-radius: 10px;
	  padding: 20px;
	  margin-bottom: 20px;
	}
  
	.section-name h2 {
	  margin: -5px auto -20px -300px;		/* top right bottom left */
	}
  
	.section-name p {
	  color: rgb(94, 91, 91);
	  margin: 15px auto auto -300px;		/* top right bottom left */
	}
  
	.history-table {
	  width: 100%;
	  border-collapse: collapse;
	  transform: scale(.95);
	}
  
	.history-table th,
	.history-table td {
	  padding: 5px;
	  border: 1px solid #ccc;
	  text-align: center;
	  font-size: 0.75rem;
	}
  
	.history-table th {
	  background-color: #e0e0e0;
	}
  
	.mushkit-left {
	  flex: 1;
	  display: flex;
	  flex-direction: column;
	}
  
	.mushkit-right {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		margin-top: 10px;
	}
  
	.pagination-buttons {
	  margin-top: 10px;
	  display: flex;
	  align-items: center;
	  gap: 10px;
	  justify-content: center;
	  transform: scale(.75);
	  margin-top: -5px;
	}
  
	.pagination-buttons button {
	  padding: 5px 10px;
	  font-weight: bold;
	  border-radius: 4px;
	  border: none;
	  background-color: #007bff;
	  color: white;
	  cursor: pointer;
	}
  
	.pagination-buttons button:disabled {
	  background-color: #ccc;
	  cursor: not-allowed;
	}
  
	.pagination-buttons span {
	  color: rgb(69, 68, 68);
	}

	.recharts-cartesian-axis-tick-value {
		font-size: 10px !important;
	}
  }
  