@media (max-width: 480px) {
	.home-container {
	  margin-left: 0;
	  padding-top: 63px; 
	}
  
	.home-header h1 {
	  top: 0;
	  left: 0;
	  padding: 10px 10px;
	  padding-top: 6px;
	  font-size: 1.3rem;
	  border-bottom: 1px solid #ccc;
	  text-align: flex-start;
	  margin-top: 53px;
	}
  
	.home-header.expanded h1,
	.home-header.collapsed h1 {
	  left: 0;
	}
  }