.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 50px;
}

.login-form {
    background-color: white;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .input-container {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .input-container input {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }  

.login-form h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.register-text,
.forgot-pin {
    font-size: 14px;
    text-align: center;
}

.register-text a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-pin a {
    color: #e35151;
    text-decoration: none;
}

.register-text a:hover,
.forgot-pin a:hover {
    text-decoration: underline;
}
