  .profile-container {
	margin-left: 100px;
  }

  .details-section {
	max-width: 1300px;
	margin: auto;
	margin-bottom: 30px; 
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	align-items: center;
	text-align: center;
  }

  .section-title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	background-color: transparent; 
	border: none;                 
	padding: 0;
  }