  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .left-buttons {
    display: flex;
    margin-bottom: 20px;
  }

  .add-mushkit-button,
  .remove-mushkit-button {
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .add-mushkit-button {
    background-color: #2196F3; 
    margin-left: 95px;
  }

  .remove-mushkit-button {
    background-color: #f44336;
    margin-left: 10px;
  }

  .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 95px;
    margin-bottom: 20px;
  }

/*When hovered*/
  .add-mushkit-button:hover {
    background-color: #1976D2;
  }

  .remove-mushkit-button:hover {
    background-color: #d32f2f;
  }

  .submit-button:hover {
    background-color: #388E3C;
  }

/*Disable buttons*/
  .add-mushkit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .remove-mushkit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }